@model List<MyPortfolio_MVC.Models.TblMessage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 1;
}

<h2>Gelen Mesajlar</h2>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Gönderen Ad Soyad</th>
            <th>Email</th>
            <th>Konu</th>
            <th>Sil</th>
            <th>Mesaj Aç</th>
        </tr>
    </thead>

    <thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td><a href="/Messege/DeleteMessege/@item.MesajId" class="btn btn-outline-danger">Sil</a></td>
                <td>
                    <a href="/Message/MessageDetail/@item.MesajId" class="btn btn-outline-info">
                        Mesajı Aç
                    </a>
                </td>
            </tr>
        }
    </thead>
</table>




<br />



