@model MyPortfolio_MVC.Models.TblCategory
@{
    ViewBag.Title = "CreateCategory";
}

<h2>Yeni Kategori Ekleme Sayfasi</h2>

<form method="post">
    <label>Kategori Adi</label>
    <input type="text" name="Name" value="" class="form-control" />   @*name sql deki karşılığa denk geliyor yani tablo adına denk geliyor*@
    <button class="btn btn-primary">Kaydet</button>
    <br />
</form>
<br />


